#button {
    background-color: #0A16D8;
    color: #ffffff; /* Color del texto */
}
#button:hover {
    background-color: #40e0d0;
    color: black; /* Color del texto al pasar el mouse */
}

.card-title {
    color: #0000FF; /* Azul */
}
#body {
    background-color: #0A16D8; 
}
.main-content {
            min-height: 80vh; 
}
.Card {
            background-color:#2759B7; /* Color de fondo */
            
            
        }
.row{
  

   padding: 10px;
  padding-bottom: 50px;

}        
.cuerpo{
        height: 100%;
        margin: 0;
        padding: 0;}