#button {
    background-color: #0A16D8;
    color: #ffffff; /* Color del texto */
}
#button:hover {
    background-color: #3A445A;
    color: white; /* Color del texto al pasar el mouse */
}

.card-title {
    color: #0000FF; /* Azul */
}
#body {
    background-color: #0A16D8; 
}
.main-content {
            min-height: 80vh; 
}
.Card {
            background-color:#2759B7; /* Color de fondo */
            
            
        }
.row{
  

   padding: 10px;
  padding-bottom: 50px;

}        
.cuerpo{
        height: 100%;
        margin: 0;
        padding: 0;}

.mi-boton{
    width: 50%; /* Ajusta el ancho al 100% */
    margin-bottom: 10px; /* Espacio entre los botones */



}        

#cierre {

background-color: skyblue;


}
/* Estilos generales del select */
.form-control {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos del contenedor del select para agregar la flecha */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Agrega la flecha al select */
.custom-select-wrapper::after {
    content: '\f078'; /* Código Unicode para la flecha hacia abajo de Font Awesome */
    font-family: 'Font Awesome 5 Free'; /* Fuente de Font Awesome */
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* No bloquear el clic */
    font-size: 16px; /* Ajusta el tamaño de la flecha si es necesario */
    color: #0000ff; /* Cambia este valor para ajustar el color de la flecha */
}

/* Asegura que el select se alinee correctamente con la flecha */
.form-control {
    padding-right: 40px; /* Espacio para la flecha */
}
